$text-color: #fff; // white
$link-color: #7090b0; // ligher blue

//$background-image: "../../assets/img/ep_naturalblack.png";
$background-image: "../../assets/img/dark_stripes.png";
$background-color-a: #102030; // top
$background-color-b: #204060; // bottom

$spiral-image: "../../assets/img/spiral.svg";

html * {
  font-family: 'Josefin Slab', serif;
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image:
    url($background-image),
    linear-gradient(to top, $background-color-a, $background-color-b);
  background-blend-mode: screen;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: color .2s ease-out, background 1s ease-in;
}

a:hover {
  color: $link-color;
}

h1 {
  margin: 0 0 15px 0;
  padding: 0 40px;
  font-size: 7em;
  text-align: center;
  line-height: 1em;
}

h2 {
  margin: 0;
  padding: 0 40px;
  font-size: 3em;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline;
  white-space: nowrap;
}

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
}


#problem {
  //display: none;
}

.spiral {
  position: fixed;
  width: 6000px;
  height: 6000px;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  background-image: url($spiral-image);
  background-position: center;
  background-size: 6000px 6000px;
  -webkit-animation: spin infinite 40s linear;
  -moz-animation: spin infinite 40s linear;
  -o-animation: spin infinite 40s linear;
  animation: spin infinite 40s linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-o-keyframes spin {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 1920px) {
  .spiral {
    width: 3000px;
    height: 3000px;
  }
}

@media (max-width: 875px) {
  .spiral {
    width: 1500px;
    height: 1500px;
    background-size: 2500px 2500px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
  
  #problem {
    font-size: 1em;
  }
}


