<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mesa Math Club</title>
    <link rel="stylesheet" href="assets/css/home.css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        messageStyle: "none",
      });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG"></script>
  </head>
  <body>
    <div class="title">
      <a href="#">
        <h1>
          <ul>
            <li>mesa</li>
            <li>math club</li>
          </ul>
        </h1>
        <h2>
          <ul>
            <li>wednesdays,</li>
            <li>3:00, MS-218</li>
          </ul>
        </h2>
      </a>
      <div class="spiral"></div>
    </div>
  </body>
</html>
